{% extends "teman/layout/base.html" %}

{% block content %}

<div class = "container">
    <div class="panel-body">
        <div style="margin:20px; padding:20px; background-color:lightsteelblue; border-radius:3px;">
            <form class="form-inline">
			<!-- todo -->
			    <input type="search" id="myInput" onkeyup="search()" placeholder="search">
				<input type="radio" name="check" id="npm" checked="checked"> NPM
				<input type="radio" name="check" id="nama"> Nama
				<input type="radio" name="check" id="angkatan"> Angkatan
				<input type="radio" name="check" id="keahlian"> Keahlian
            </form>
        </div>
        <hr>
        <div class="table table-responsive">
            <table class="table table-hover" id="myTable" style="width: none;">
                <thead>
					<th> NPM </th>
					<th> Nama </th>
					<th> Angkatan </th>
					<th> Keahlian </th>
                </thead>
				<tr>
					<td>0000000001</td>
					<td>One</td>
					<td>2000</td>
					<td>aaaa</td>
				</tr>
				<tr>
					<td>0000000002</td>
					<td>Two</td>
					<td>2000</td>
					<td>bbbb</td>
				</tr>
				<tr>
					<td>0000000003</td>
					<td>Three</td>
					<td>2001</td>
					<td>bbbb</td>
				</tr>
				<tr>
					<td>0000000004</td>
					<td>Four</td>
					<td>2001</td>
					<td>aaaa</td>
				</tr>
				<tr>
					<td>0000000005</td>
					<td>Five</td>
					<td>2002</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>0000000006</td>
					<td>Six</td>
					<td>2002</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>0000000007</td>
					<td>Seven</td>
					<td>2003</td>
					<td>aaaa</td>
				</tr>
				<tr>
					<td>0000000008</td>
					<td>Eight</td>
					<td>2003</td>
					<td>bbbb</td>
				</tr>
				<tr>
					<td>0000000009</td>
					<td>Nine</td>
					<td>2004</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>0000000010</td>
					<td>Ten</td>
					<td>2004</td>
					<td>bbbb</td>
				</tr>
				<tr>
					<td>0000000011</td>
					<td>Eleven</td>
					<td>2005</td>
					<td>aaaa</td>
				</tr>
				<tr>
					<td>0000000012</td>
					<td>Twelve</td>
					<td>2005</td>
					<td>aaaa</td>
				</tr>
				<tr>
					<td>0000000013</td>
					<td>Thirteen</td>
					<td>2006</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>0000000014</td>
					<td>Fourteen</td>
					<td>2006</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>0000000015</td>
					<td>Fifteen</td>
					<td>2007</td>
					<td>aaaa</td>
				</tr>
				<tr>
					<td>0000000016</td>
					<td>Sixteen</td>
					<td>2007</td>
					<td>bbbb</td>
				</tr>
				<tr>
					<td>0000000017</td>
					<td>Seventeen</td>
					<td>2008</td>
					<td>bbbb</td>
				</tr>
				<tr>
					<td>0000000018</td>
					<td>Eighteen</td>
					<td>2008</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>0000000019</td>
					<td>Nineteen</td>
					<td>2009</td>
					<td>bbbb</td>
				</tr>
				<tr>
					<td>0000000020</td>
					<td>Twenty</td>
					<td>2009</td>
					<td>aaaa</td>
				</tr>
            </table>
        </div>
	</div>
</div>

<script>
<!-- function myFunction() { -->
    <!-- var select = document.forms[0]; -->
    <!-- var txt = ""; -->
    <!-- var i; -->
    <!-- for (i = 0; i < select.length; i++) { -->
        <!-- if (select[i].checked) { -->
            <!-- txt = txt + select[i].value; -->
        <!-- } -->
    <!-- } -->
    <!-- document.getElementById("demo").value = text; -->
<!-- } -->

function search() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  if (document.getElementById('npm').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    } 
  } else if (document.getElementById('nama').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    } 
  } else if (document.getElementById('angkatan').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    } 
  } else if (document.getElementById('keahlian').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[3];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    } 
  } 
}
</script>
{% endblock %}