{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Tugas 2">
    <meta name="author" content="{{author}}">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    </style>
    <title>
        {% block title %} Click Login to Continue {{author}} {% endblock %}
    </title>
</head>
<body>

<header>
      <h3 id='header' style="color:red; text-align: center;" BukaHati> </h3>
        <br>
        <h1 style="text-align:center">
        <em><big> Perusahaan BukaHati membuka peluang untuk: </big></em>
        </h1>

        <br><br>

        <h1 style="text-align:center">
        <em><small> 1. Web Developer </small></em>
        <em><small> 2. Mobile Developer </small></em>

</header>

<content>

    <div>
      <img src="https://www.ul.ie/gems/sites/default/files//styles/staff_img/public/blank-profile_2.jpg?itok=xPq72bdz" class="profilepic">
      
    <div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
  </div>
</content>

<footer>

    <button onclick="window.location.href='/loginstatus/login'">Login Mahasiswa</button>
    <button>Login Perusahaan</button>

</footer>

<!-- Jquery n Bootstrap Script -->
</body>
</html>
