{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 10">
    <meta name="author" content="{{author}}">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    </style>
    <title>
        {% block title %} Lab 10 By {{author}} {% endblock %}
    </title>
</head>
<body>
<header>
  <div class="panel-header header">
  <div class="row">
    <div class="col-md-3">
      <h3 id='header' style="color: black inline">Selamat Datang, Bintang</h3>
        <br><br><br>
    </div>
    <ul class="nav navbar-nav nav-right pull-right">
    <div class="col-md-12">
      <li></li>
      <li><a>Logout</a></li>
    </div>
  </ul>
  </div>
</div>

</header>
<content>

    <div>
      <img src="https://www.ul.ie/gems/sites/default/files//styles/staff_img/public/blank-profile_2.jpg?itok=xPq72bdz" class="profilepic">
      <button>Lihat Forum</button>
      <button onclick="window.location.href='/profile/edit'">Edit Profile</button>
    <br><br><br>
      
    <div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
  </div>
</content>
<footer>
</footer>

<!-- Jquery n Bootstrap Script -->
</body>
</html>
