<div class="container">
 <div class="row">
      <!-- left column -->
      <div class="col-md-3" align="center">
        <div class="text-center">
          <img src="https://www.ul.ie/gems/sites/default/files//styles/staff_img/public/blank-profile_2.jpg?itok=xPq72bdz" class="profilepic">
          <br><br><br><br><br><br>
          <!-- sign in with linkedin button -->
          <script type="in/Login"></script>
          <!-- display profile info -->
          <div id="profileData" style="display: none;">
          <p><a href="javascript:void(0);" onclick="logout()">Logout</a></p>
          <div id="picture"></div>
          <div class="info">
          <p id="name"></p>
          <p id="intro"></p>
          <p id="email"></p>
          <p id="location"></p>
          <p id="link"></p>
        </div>
      </div>
      <section class="skills-selector">
      <div class="container">
         <div class="skills-container">
           <br>
            <p id="title"> Skill : <select class="my-select-skill">
              <option value="java">Java</option>
              <option value="python">Python</option>
              <option value="c#">C#</option>
              <option value="c++">C++</option></select></p>
            <p id="title"> Level : <select class="my-select-level">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced#">Advanced</option>
              <option value="expert">Expert</option>
              <option value="legend">Legend</option>
            </select></p>
            <br>

            <button class="apply-button btn btn-default">Pilih</button>
            <br><br>
            <button id="tambah-skill-lagi">Tambahkan Skill</button>
      <h5 style=" font-size: 20px;"> Tampilkan Nilai </h5>
        <form action="">
          <div>
            <input type="radio" name="nilai" value="iya"> Ya <br>
            <input type="radio" name="nilai" value="tidak"> Tidak <br>
          </div>
        </form>
        <br><br><br><br>
        <button id="tambah-skill-lagi">Simpan</button>
        <button id="tambah-skill-lagi" onclick="window.location.href='/profile/'">Keluar</button>
         </div>
      </div>
      </section>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81jzblm9wegg7f
    authorize: true
    onLoad: onLinkedInLoad
    scope: r_basicprofile r_emailaddress
</script>
<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
        IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
    }

    // Handle the successful return from the API call
    function displayProfileData(data){
        var user = data.values[0];
        document.getElementById("picture").innerHTML = '<img src="'+user.pictureUrl+'" />';
        document.getElementById("name").innerHTML = user.firstName+' '+user.lastName;
        document.getElementById("intro").innerHTML = user.headline;
        document.getElementById("email").innerHTML = user.emailAddress;
        document.getElementById("location").innerHTML = user.location.name;
        document.getElementById("link").innerHTML = '<a href="'+user.publicProfileUrl+'" target="_blank">Visit profile</a>';
        document.getElementById('profileData').style.display = 'block';
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Destroy the session of linkedin
    function logout(){
        IN.User.logout(removeProfileData);
    }

    // Remove profile data from page
    function removeProfileData(){
        document.getElementById('profileData').remove();
    }

    function removeProfileData(){
        document.getElementById('profileData').remove();
    }

    //skill counter
    var x = document.getElementById("tambah-skill-lagi");
    var i = 0;

    document.getElementById("btn").onclick = function() {
      if( i > 0 ) {
        x += x + "<br>";
      }
      document.getElementById("tambah-skill-lagi").innerHTML = x;
    }

    function funcSave(){
      console.log("success");
      var data = sessionStorage.getItem("data");
      var obj = JSON.parse(data);
      insertSession(obj.firstName,obj.lastName,obj.emailAddress,obj.publicProfileUrl);
      window.location.href = "profile/"
    };

    var insertSession = function(firstName,lastName,email,profileUrl) {
        $.ajax({
            method: "POST",
            url: '/save_database/',
            data: {
              firstName: firstName,
              lastName: lastName,
              email: email,
              profileUrl: profileUrl
            },
            success : function (user) {
                console.log(user);
            },
            error : function (error) {
                console.log(error);
            }
        });
    };

</script>
