{% extends "riwayat/layout/base.html" %}

{% block content %}

</br>
</br>
</br>
</br>
<div class = "container">
    | <a href="{% url 'profile:index' %}" class="btn btn-info"> Basic </a> 
    | <a href="#" class="btn btn-info"> Riwayat</a> 
    | <a href="#" class="btn btn-info"> Status </a> |
    <div class="panel panel-default">
        <table class = "table">
            {% for entry in data %}
                <tr>
                    <td class = "info">{{ entry.kelas.nm_mk_cl.nm_mk }}</td>
                    {% if secret %}
                        <td>Rahasia</td>
                    {% else %}
                        <td>{{ entry.nilai }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}